/* You can add global styles to this file, and also import other style files */
button {
    background-color: blue;
    border: none;
    color: #ffffff;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
 }